/*  动画
------------------------------------------------ */
@keyframes ShakeUpDown-sm {
  0% {
    transition: all ease-in-out;
    transform: translateY(0px);
  }

  25% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}

/*  Vue 动画
------------------------------------------------ */
// 页面、布局切换
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.3s;
}

.fade-transform-enter-from {
  opacity: 0;
  transform: translateX(-50px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(50px);
}

// 面包屑导航内容
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}

.breadcrumb-enter-from {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(-20px);
}

.breadcrumb-move {
  transition: all 0.5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

// tab menu 打开关闭
.tab-menu-leave-active,
.tab-menu-enter-active {
  transition: all 0.3s;
}

.tab-menu-enter-from {
  opacity: 0;
  transform: translateY(20px);
}

.tab-menu-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

// 上下渐进渐出
.upDown-enter-active,
.upDown-leave-active {
  transition: all 0.2s;
}

.upDown-enter-from {
  opacity: 0;
  transform: translateY(10px);
}

.upDown-leave-active {
  opacity: 0;
  transform: translateY(-10px);
}

.upDown-move {
  transition: all 0.2s;
}

// 左侧滑出
.fromLeft-enter-active,
.fromLeft-leave-active {
  transition: all 0.3s ease-in-out;
  position: absolute;
}

.fromLeft-enter-from,
.fromLeft-leave-to {
  opacity: 0;
  transform: translateX(-150px);
}

.inOut-enter-from,
.inOut-leave-to {
  opacity: 0;
}
.inOut-enter-active,
.inOut-leave-active {
  transition: all 0.2s ease-in-out;
}
<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 15 15"><path fill="currentColor" fill-rule="evenodd" d="M3.5 0A1.5 1.5 0 0 0 2 1.5V4H1v1h1v5H1v1h1v2.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 0h-9ZM6 5a2 2 0 1 1 4 0a2 2 0 0 1-4 0Zm-1 6a3 3 0 1 1 6 0v1H5v-1Z" clip-rule="evenodd"/></svg>