// 设定盒子大小
@mixin box-size($w: 100%, $h: 100%) {
  width: $w;
  height: $h;
}

// 绝对定位
@mixin abs-position($isTransform: false, $top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  @if ($isTransform) {
    transform: scale(1) translate(-$top, -$left);
  }
}

// flex 布局
@mixin flex($dire: row, $just: center, $align: center) {
  display: flex;
  flex-direction: $dire;
  justify-content: $just;
  align-items: $align;
}

// 主题颜色
@mixin primary-color($per: 1) {
  color: rgba(
    var(--primary-color-r),
    var(--primary-color-g),
    var(--primary-color-b),
    $per
  );
}

@mixin primary-bg-color($per: 1) {
  background-color: rgba(
    var(--primary-color-r),
    var(--primary-color-g),
    var(--primary-color-b),
    $per
  );
}

@mixin primary-border-color($per: 1) {
  border-color: rgba(
    var(--primary-color-r),
    var(--primary-color-g),
    var(--primary-color-b),
    $per
  );
}

// 伪元素气泡弹窗三角形
@mixin pseudo-element-striangle($abs, $color) {
  &::before {
    content: '';
    display: block;
    position: absolute;
    border: 5px solid $color;
    transform: rotate(45deg);
  }
  /*  left
  ------------------------------------------------ */
  &.left-bottom::before,
  &.left-top::before {
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
  }
  &.left-bottom::before {
    left: -5px;
    bottom: $abs;
  }
  &.left-top::before {
    left: -5px;
    top: $abs;
  }
  /*  right
  ------------------------------------------------ */
  &.right-bottom::before,
  &.right-top::before {
    border-left-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
  }
  &.right-bottom::before {
    right: -5px;
    bottom: $abs;
  }
  &.right-top::before {
    right: -5px;
    top: $abs;
  }
  /*  top
  ------------------------------------------------ */
  &.top-left::before,
  &.top-right::before {
    border-right-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
  }
  &.top-left::before {
    top: -5px;
    left: $abs;
  }
  &.top-right::before {
    top: -5px;
    right: $abs;
  }
  /*  bottom
  ------------------------------------------------ */
  &.bottom-left::before,
  &.bottom-right::before {
    border-left-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
  }
  &.bottom-left::before {
    bottom: -5px;
    left: $abs;
  }
  &.bottom-right::before {
    bottom: -5px;
    right: $abs;
  }
}
